/**
 *  css
 */

/**
 * Global settings 
 * color: #005FA9;
 */
body
{
  background: #28231b;
  /*background: #123;i*/
  margin:0;
  padding:20px 10px;
  text-align:center;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #ccc;
  font-size: 12pt;
}

#content {
  width:860px;
  margin:0 auto;
  text-align:left;
  }

a:link
{
  color: blue;
  text-decoration: none;
}

a:visited
{
  color: blue;
  text-decoration: none;
}

a:hover
{
  text-decoration: underline;
}

/**
 * Header
 */
#header {
  background:#6495ED url("images/corners_cap_bot.gif") no-repeat left bottom; /* #357 */
  /* 5F73A8 */ 
  margin:0 0 15px;
  padding:0 0 8px;
  color: #6495ED;
  min-height: 50px;
  width:860px;
  margin:0 auto;
  text-align:left;
  }

#header div {
  background:url("images/corners_cap_top.gif") no-repeat left top;
  padding:8px 0 0;
  }

h1
{
  margin:0;
  padding:5px 20px 0px;
  font-size:200%;
  line-height:1em;
  color:white;
  border: none;
}

h2
{
  margin:-100;
  padding:5px 20px 0px;
  font-size:140%;
  line-height:1em;
  color:#008080;
  border: none;
}

h4
{
  font-style: italic;
  font-weight: bold;
  margin:0;
  padding:5px 20px 0px;
  font-size:120%;
  line-height:1.0em;
  color:#2F4F4F;
}

/**
 * Menu
 */
#menu {
  clear:both;
  background:#C3C3C0 url("images/corners_cap_top.gif") no-repeat left top;
  margin:0 0 0;
  padding:8px 0 0;
  color:#6495ED;
  text-align:left;
  }
#menu div {
  background:url("images/corners_cap_bot.gif") no-repeat left bottom;
  padding:0 15px 8px;
  }

#menu a:link {
  color: #000000;
  
  }
#menu a:visited {
  color: #000000;
  }
#menu a:hover {
  color: blue;
  text-decoration: none;
  }



/**
 * SubMenu
 */
#submenu {
  clear:both;
  background:#95B9C7 url("images/corners_cap_top.gif") no-repeat left top;
  margin:0 0 0;
  padding:15px 0 0;
  color:#95B9C7;
  text-align:left;
  }
#submenu div {
  background:url("images/corners_cap_bot.gif") no-repeat left bottom;
  padding:0 15px 8px;
  }

#submenu a:link {
  color: #000000;
  
  }
#submenu a:visited {
  color: #000000;
  }
#submenu a:hover {
  color: blue;
  text-decoration: none;
  }


/**
 * For the side bar
 */
#sidebar {
  width:165px;
  background: #C3C3C0 url("images/corners_side_top.gif") no-repeat left top;
  float:left;
  margin:0 0 10px;
  font-size:97%;
  line-height:1.5em;
  color:#000000;
  padding:8px 0 0;
  }

#sidebar2 {
  width:175px;
  background:url("images/corners_side_bot.gif") no-repeat left bottom;
  padding:0 8px 15px;
  }
  

#sidebar h2
{
  margin:0 25px 0 0;
  font-size:130%;
  line-height:1.5em;
  color:#008080;
  border-bottom:1px dotted #456;
  padding:0 0 .2em;
} 
 
#sidebar tdd 
{
  padding:0 0 3px 0;
  font-size:70%;
  color: black;
}


/**
 * For the course side bar
 */
#csidebar {
  width:165px;
  background: white url("images/corners_side_top.gif") no-repeat left top;
  float:left;
  margin:0 0 10px;
  font-size:97%;
  line-height:1.5em;
  color:#000000;
  padding:8px 0 0;
  }


#csidebar2 {
  width:175px;
  background:url("images/corners_side_bot.gif") no-repeat left bottom;
  padding:0 8px 15px;
  }
  

#sidebar h2
{
  margin:0 25px 0 0;
  font-size:130%;
  line-height:1.5em;
  color:#008080;
  border-bottom:1px dotted #456;
  padding:0 0 .2em;
} 
 
#sidebar td 
{
  padding:0 0 3px 0;
  font-size:70%;
  color: black;
}



/**
 * Main Text
 */
#mainFull {
  width:860px;
  float:right;
  background:white url("images/corners_cap_bot.gif") no-repeat left bottom;
  margin:0px 0 15px;
  padding:0 0 0px;
  color:black;
  font-size:97%;
  line-height:1.5em;
  }

#main {
  width:680px;
  float:right;
  background:white url("images/corners_main_bot.gif") no-repeat left bottom;
  margin:0px 0 15px;
  padding:0 0 0px;
  color:black;
  font-size:97%;
  line-height:1.5em;
  }

#main2 {
  float:right;
  width:100%;
  background:url("images/corners_main_top.gif") no-repeat left top;
  padding:0px 0 0;
  }

#main2Full {
  float:right;
  width:100%;
  background:url("images/corners_cap_top.gif") no-repeat left top;
  padding:0px 0 0;
  }

h2
{
  margin:10px 28px 0 23px;
  font-size:125%;
  line-height:2em;
  color:#008080;
  border-bottom:1px dotted #bb9;
} 
 
.topic-text {
  margin:.3em 14px 10px;
  padding:10px 10px 1px 10px;
  text-align:justify;
  }



/**
 * The publications
 */

.pubAuthors
{
    color: #660000;
    font-weight: normal;
}

.pubAuthorsT
{
    color: #008080;
    font-weight: normal;
}

.pubInfo
{
    color: black;
    font-weight: normal;
}

#publication ul {
  margin:.5em 0 1.25em;
  padding:0 0px;
  list-style:none;
  }

#publication ul li 
{
  background:url("images/icon_arrow_bk.jpg") no-repeat 1px .25em;
  margin:0;
  padding:0 0 0px 16px;
  margin-bottom: 2px;
}


.pubTitle a:visited
{
  color: blue;
  text-decoration: none;
      font-weight: normal;
}

.pubTitle a:hover
{
  text-decoration: none;
}



/**
 * Banners
 */
.bannerImg {
  margin:0 0 0 0;
  padding:0px;
  border:0px solid #586;
  }

.bannerImgFirst {
  margin:0 0 0 0;
  padding:0px;
  border:0px solid #586;
  }

td 
  {
    text-align: center;
  }




table {
      font-family: Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td, th {
      border: 1px solid #ddd;
      padding: 8px;
    }

    tr:nth-child(even){background-color: #f2f2f2;}

    tr:hover {background-color: #ddd;}

    th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #008080;
      color: white;
    }
    td {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      color: black;
    }



#to_top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#to_top:hover {
  background-color: #008080;
}



